@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Fuzzy+Bubbles&family=IBM+Plex+Mono:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    scroll-behavior:smooth;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
}

.logo {
    color: #040c5c;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav li{
    list-style:none;
}
.nav a:hover{
    color: #02421d;
}
.nav a {
    color: #000000;
    text-decoration:none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}

.content{
    margin-top:300px;
    margin-bottom:300px;
}

.content h1{
    color: #00D36B;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
    margin:auto;
    text-align:center;

}

.content h2{
    color: #000000;
    font-size: 55px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
    margin:auto;
    text-align:center;
}

hr{
    border: none;
    border-top: 1px solid #ccc;
    width: 90%;
    margin:auto;
}

.about {
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
}

.about h1{
    color: #3a0101;
    font-size:70px;
    text-align:center;
}
.about p{
    color: #757575;
    font-size: 30px;
    margin:auto;
    width:60%;
    text-align:left;
}

.contact{
    margin-top: 300px;
    margin-bottom: 100px;
    text-align: center;
}

.contact h1{
    color:#1f013b;
    font-size: 60px;
    text-align: center;
} 

.contact p{
    color: #757575;
    font-size: 25px;
    text-align: center;
    margin-bottom:100px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: 25px;
    margin: 0 auto 50px;
    text-align: center;
    width: 50%;
    line-height:1.5px;
  }
  
  .label{

    text-align: left;
  }
  
  .info{
    text-align: right;
  }

.fade-in{
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.fade-in.active{
    opacity: 1;
}
